mixin footer(data)
  .footer__baner
  footer.footer
    .footer__wrapper
      .footer__copyright © Vladimir, 2014
      .footer__phone Телефон: 8 900 348 35 53
      .footer__skype Skype: svezha42
      .footer__site Дизайн сайта: webme.pro
