.footer
  color: #fff;
  background-color: #000;

  &__baner
    height: 221px;
    background-image: url('/images/baner.png');
    background-repeat: no-repeat;
    background-position: center;
  &__wrapper
    @extend .common-wrapper;

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    font-size: 12px;