mixin header(data)
  header.header
    .header__top
      .header__top-time ЕЖЕДНЕВНО С 10:00 ДО 20:00
      .header__top-promo-text ИЗГОТОВЛЕНИЕ И ПРОДАЖА АВТОМОБЛЬНЫХ КЛЮЧЕЙ, КОРПУСОВ И ЧИПОВ
    .header__middle
      .header__middle-logo
      .header__middle-selector
        +selector
    .header__bottom
      .header__bottom-label
