.order
  &__wrapper
    @extend .common-wrapper;
    position: relative;

    display: flex;
    flex-wrap: wrap;
    width: 594px;
    padding-top: 64px;
  &__buy
    position: absolute;
    background-image: url('/images/buy.png');
    width: 180px;
    height: 60px;
    top: -30px;
    left: 207px;
  &__title
    text-align: center;
    margin-bottom: 30px;
    width: 100%;
  &__name
    width: 375px;
    margin-right: 24px;
    margin-bottom: 30px;
  &__phone
    width: 178px;
    margin-bottom: 30px;
  &__comment
    min-width: 587px;
    max-width: 587px;
    min-height: 89px;
    max-height: 89px;
    margin-bottom: 30px;
  &__mail
    width: 375px;
    margin-right: 28px;
    margin-bottom: 90px;
  &__submit
    width: 178px;
    margin-bottom: 90px;
    background-color: #000;
    color: #fff;
    outline: none;